#ytplayer {
    height: 390px;
    width: 640px;
}

[data-subtitleinsert="after"] {
    background-color: red;
    height: 50%;
    width: 50px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

[data-subtitleinsert="before"] {
    background-color: blue;
    height: 50%;
    width: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
}


#subtitlesControls {
    //background-color: grey;
    border: solid 1px;
}

.subtitle {
    position: relative;
    border: solid 1px;
}

#timestampBar {
    margin: 3px;
    background-color: #333344;
    position: relative;
    width: 500px;
    height: 5px;
}
#timestampBarNow{
    background-color: black;
    position: absolute;
    top: -3px;
    width: 5px;
    height: 11px;
    left: 100px;
}

.highlightedSubtitle {
    background-color: #98CECA;
}

#savingFeedback {
    background-color: black;
    color: white;
    position: fixed;
    top: 4em;
    right: 4em;
    padding: .3em;
}

.warning {
    background-color: #ffafaf;
}
