{% load staticfiles %}<!doctype html>
<html>
    <head>
        <title>YTTS</title>
        {% if subtitles %}
        <script>
            var view_init = {
                subtitles: {{ subtitles.subtitles|safe }},
                isDefault: {{ subtitles.is_default_version|yesno:"true,false" }},
                version: "{{ subtitles.version }}",
                versions: {{ all_versions|safe }},
                video: "{{ video_id }}",
                urls: {
                    'save': "{% url 'ytts:subtitles_saver' 0 %}",
                    'load': "{% url 'ytts:subtitles_loader' 0 %}",
                },
            };
        </script>
        <script src="{% static "ytts/bundle.js" %}" defer></script>
        {% endif %}
        <!-- TODO: stop loading fonts from GG -->
        <link rel="stylesheet" type="text/css"
              href="https://fonts.googleapis.com/css?family=Asap">
        <link rel="stylesheet" href="{% static "ytts/main.css" %}" />

    </head>
    <body>
        <div id="yttsApp"></div>
    </body>
</html>
