{% load staticfiles %}<!doctype html>
<html>
    <head>
        <title>YTTS</title>
        {% if subtitles %}
        <script>
            var initSubtitles = {{ subtitles.subtitles|safe }};
            var initIsDefault = {{ subtitles.is_default_version|yesno:"true,false" }};
            var initVersion = "{{ subtitles.version }}";
            var initVersions = {{ all_versions|safe }};
        </script>
        <script src="{% static "ytts/vue.min.js" %}" async defer></script>
        <script src="{% static "ytts/main.js" %}" async defer></script>
        {% endif %}
        <link rel="stylesheet" href="{% static "ytts/main.css" %}" />
    </head>
    <body>
        <h1>Timestamper</h1>
        
        {% if subtitles %}<div id="current_version">Loaded version: <span id="current_version_name">{{ subtitles.version }}</span></div>{% endif %}

        <div id="subtitlesVersions">
            <div>Available versions
            <select name="version" id="versionToLoad">{% for v in all_versions %}
                <option value="{{ v }}">{{ v }}</option>{% endfor %}
            </select>
            <button id="versionControlLoad">Load Version</button><span class="warning">If you decide to load another version the current work will be lost</span>
            </div>
            <div>
                Create new version: 
                <input id="versionToCreate" type="text" maxlength="20" placeholder="name (max 20 chars)">
                Clone current:<input id="versionIsClone" type="checkbox" value="clone">
                <button id="versionControlCreate">Create New Version</button>
            </div>
        </div>

        <div id="ytplayer" data-initvideoid="{{ video_id }}"></div>

        <div id="timestampBar">
            <div id="timestampBarNow"></div>
        </div>

        <div id="activeLine">
        </div>

        <div id="subtitlesControls">
            <button id="subtitleControlAdd">Add subtitle</button>
            <button id="subtitleControlSave">Save subtitle</button>
            <a href="" id="subtitleControlDownload" download="subtitles.srt">DL (SubRip)</a>
        </div>

        <div id="subtitles">
            <div v-for="(subtitle, index) in subtitles">
            <div class="subtitle" data-subtitle='true'>
                <div data-subtitleinsert="before" draggable="true" ondragover="ytts.dragover_handler(event)" ondrop="ytts.drop_handler(event)" ondragstart="ytts.dragstartSubtitle(event)"></div>
                <textarea data-subtitletext v-model="subtitle.subtitle"></textarea>
                <input type="text" data-subtitlestart v-model="subtitle.start" />
                <input type="text" data-subtitlestop v-model="subtitle.stop" />
                <button v-on:click="setStart(index)">Start here</button>
                <button v-on:click="setStop(index)">Stop here</button>
                <button onclick="ytts.setCursorAtSubtitle(event)">Position in Video</button>
                <div data-subtitleinsert="after" draggable="true" ondragover="ytts.dragover_handler(event)" ondrop="ytts.drop_handler(event)" ondragstart="ytts.dragstartSubtitle(event)"></div>
            </div>
            </div>
        </div>

        <template id="subtitleTemplate">
        <div class="subtitle" data-subtitle='true'>
            <div data-subtitleinsert="before" draggable="true" ondragover="ytts.dragover_handler(event)" ondrop="ytts.drop_handler(event)" ondragstart="ytts.dragstartSubtitle(event)"></div>
            <textarea data-subtitletext></textarea>
            <input type="text" data-subtitlestart />
            <input type="text" data-subtitlestop />
            <button onclick="ytts.setStart(event)">Start here</button>
            <button onclick="ytts.setStop(event)">Stop here</button>
            <button onclick="ytts.setCursorAtSubtitle(event)">Position in Video</button>
            <div data-subtitleinsert="after" draggable="true" ondragover="ytts.dragover_handler(event)" ondrop="ytts.drop_handler(event)" ondragstart="ytts.dragstartSubtitle(event)"></div>
        </div>
        </template>
        
        <div id="savingFeedback" style="display:none">Saving...</div>        
    </body>
</html>
